Checks: >
  bugprone-*,
  clang-analyzer-*,
  misc-*,
  performance-*,
  readability-*,
  portability-*,
  -llvmlibc-*,
  -misc-include-cleaner,
  -readability-identifier-length,
  -cppcoreguidelines-macro-to-enum,
  -modernize-macro-to-enum,
  -bugprone-easily-swappable-parameters,
  -bugprone-reserved-identifier,
  -bugprone-macro-parentheses,
  -readability-implicit-bool-conversion,
  -readability-braces-around-statements,
  -readability-else-after-return,
  -readability-magic-numbers,
  -readability-named-parameter,
  -misc-use-internal-linkage
